@font-face {
  font-family: SansaPro;
  src: url('../assets/font/SansaPro-Normal.otf');
}
body{
  font-family: 'SansaPro';
  color: white;
  font-size:0.85vw;
}
.tudos{
  display:grid;
  grid-template-columns: 2fr 8fr 2fr;
  column-gap: 2em;
}
.conteudo{
  /* background-color: brown; */
}
.sidebar{
  display: flex;
  flex-grow: 1;
  height:100vh;
  /* background-color: blueviolet; */
}
.siders{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}