@font-face {
  font-family: SansaPro;
  src: url('../font/SansaPro-Normal.otf');
}
body{
  font-family: 'SansaPro';
  color: white;
  font-size:0.85vw;
}
.tudos{
  display:grid;
  grid-template-columns: 1fr 9fr 1fr;
}
.conteudo{
}
.sidebar{
  margin-left: 1em;
  display: flex;
  flex-grow: 1;
  height:100vh;
}
.siders{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}