<<<<<<< HEAD
fieldset {
  background-color: #282828;
  border:none;
  border-radius:0.6em;
  color: #fff;
  height: 3.2em;
 }
form input {
  background-color: rgba(255, 0, 0, 0);
  border:none;
  color: #fff;
  text-align: center;
  max-height: 4.8em;
  max-width: 8.0em;
  font-size:1.2em;
  font-weight:bold;
  margin-top: 0.15em;
}
form legend {
  color: #fff;
  margin-left:0.8em;
}
.destaqu{
  background: linear-gradient(to right, #800000 40%, #282828 40%)
=======
fieldset {
  background-color: #282828;
  border:none;
  border-radius:0.6em;
  color: #fff;
  height: 3.2em;
 }
form input {
  background-color: rgba(255, 0, 0, 0);
  border:none;
  color: #fff;
  text-align: center;
  max-height: 4.8em;
  max-width: 8.0em;
  font-size:1.2em;
  font-weight:bold;
  margin-top: 0.15em;
}
form legend {
  color: #fff;
  margin-left:0.8em;
}
.destaqu{
  background: linear-gradient(to right, #800000 40%, #282828 40%)
>>>>>>> 2e69c718dbeaf7059ad3cb37d1eaf0562c1389f5
}