/* Para navegadores WebKit (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"]::-moz-number-spin-box {
  -moz-appearance: textfield;
}

/* Estilo personalizado para os controles do input number */

