/* .tabsContainer{
  width:90%;
}
.btnContainer{
  display: flex;
  background-color: rgba(44, 2, 117, 1);
  border-radius: 8px;
}
.tabs{
width:8em;
}
.activeTab{
  background: white;
  color:  rgba(93,0,255,1);
  border-radius: 8px;
}
.tabs:focus{
  border: 2px solid rgba(93,0,255,1);
  outline: 2.5px solid rgba(190, 153, 253, 0.8);
}





.tabData{
  border-radius: 8px;
}
.tabContent > h5{
  font-weight: 500;
  font-size: 0.9rem;
  color: rgb(49, 49, 49);
  padding: 8px 10px;
  margin: 0;
}
.tabContent > p{
  font-size: 0.7rem;
  color: rgb(125, 124, 124);
  margin: 0;
} */

@font-face {
  font-family: SansaPro;
  src: url('../font/SansaPro-Normal.otf');
}
body{
  font-family: 'SansaPro';
}

.tabsContainer{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center
}
.tabsContainer > h1{
  font-size: 4em;
}


.btnContainer{
  
  /* background-color: rgba(44, 2, 117, 1); */
  /* border-radius: 8px; */
}
.tabs{
  margin-top:0.5em;
  margin-right:0.5em;
  border: solid rgb(180, 180, 180);
  border-width:3px 3px 0px 3px;
  width: 10em;
  height: 3em;
  border-radius: 10px 10px 1px 1px;
  background:none;
  color: #fff;
}
.activeTab{
  background: rgba(255,255,255,0.3);
  color:  rgba(0,0,0,1);
}