.grimorio{
  height:6em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bg{
  background-color:blue;
  height:4em;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.classSelect{
  /* width:10em; */
  display:grid;
  text-align:center;
}
.level{
  text-align:center;
}
.h6t {
  margin-top:-0.55em;
  position:absolute;
  z-index:1;
  margin-left:0.7em;
  font-size:0.95em;

}
.selecttion{
  border-radius:0.5em;
  height:2.5em;
  width:12.5em;
  font-size:0.95em;
  background-color: #282828;
  border:none;
  color: #fff;
  display:flex;
  justify-content: space-around;
  align-items: center;
} 
.body {
  margin-top:1em;
  display:flex;
  height:5em;
  align-items:center;
  justify-content: space-around;
}
.grid {
  display:grid;
  grid-auto-flow: column;
  grid-gap:0.2em;
  
}
.flex{
  display: flex;
  align-items: center;
}
.backg{
  border-radius:0.5em;
  height:2.5em;
  width:10.5em;
  font-size:0.95em;
  background-color: #282828;
  border:none;
  color: #fff;
  display:flex;
  /* justify-content: space-between; */
  align-items: center;
}
.valor{
  width:4.5em;
  /* margin-left:2.4em; */
  /* text-align: right; */
  /* margin-right:10em; */
  border-radius:0.0em 0.5em 0.5em 0.0em 
}.base{
  display:flex;
  align-items:center;
}
.red{
  background-color:#282828;
  border-radius:0.5em;
}
.color{
  background-color:#800000;
  border-radius:0.5em 0.0em 0.0em 0.5em ;
  height:2.5em;
  width:4.8em;
  display:flex;
  justify-content: center;
  align-items:center;
  /* position: absolute;
  z-index:0; */
}
.plus {
  content: '\002B';
  font-size:1.50em;
  margin-top:0.3em;
}